.my-header-layout {
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 64px;
    background-color: #272829;
}

.my-header {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 64px;
    margin: 0 auto;
    background-color: #272829;
}

.deepinlogo h1 {
    background: url(../image/deepin-logo.svg) no-repeat center center;
    background-size: 130px 48px;
    width: 130px;
    height: 64px;
}

.deepinlogo h1 span {
    visibility: hidden;
}

nav {
    display: flex;
    flex-direction: row;
    margin-right: 16px;
}

nav>li {
    position: relative;
    height: 64px;
    line-height: 64px;
}


nav>li>a,
nav>li>span {
    padding: 0 15px;
    color: #dedede;
    font-size: 14px;
}

nav>li>span>a {
    color: #dedede;
}

nav>li>span {
    height: 64px;
}

nav>li>a>span {
    position: relative;
    height: 40px;
    line-height: 25px;
}

nav>li>a:hover span::before,
nav>li>a:hover span {
    color: #2ca7eb;
    transform: scale(1, 1);
    transition: all 0.5s;
}

nav>li>a>span::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #2ca7f8;
    transform: scale(0, 1);
}


nav>li:hover .header-nav-droplist {
    max-height: 664px;
    transition: max-height 1s;
}

.header-nav-droplist {
    position: absolute;
    top: 64px;
    width: 100%;
    max-height: 0px;
    width: 170px;
    overflow: hidden;
}

.header-nav-droplist li {
    line-height: 14px;
    padding: 10px 15px;
    background-color: #f6f6f6;
}

.header-nav-droplist li a {
    font-size: 14px;
    color: #444444;
}